#!/bin/bash

virt-install \
--name {{ vm_name }} \
--ram {{ vm_ram_in_mb }} \
--vcpus {{ vm_vcpus }},sockets={{ vm_vcpu_sockets }},cores={{ vm_vcpu_cores }} \
--network type=direct,source=enp2s0f0,source.mode=bridge,model=virtio \
{% for disk in vm_disks %}
--disk path=/kvm/vhds/{{ vm_name }}-{{ loop.index0}}.qcow2,size={{ disk['disk_size_in_gb'] }},target.bus=virtio \
{% endfor %}
{% if vm_os_variant == "fedora34" %}
--location /kvm/isos/Fedora-Server-dvd-x86_64-34-1.2.iso \
{% endif %}
--os-variant {{ vm_os_variant }} \
--initrd-inject=/tmp/kickstart.ks \
--extra-args "inst.ks=file:/kickstart.ks"

